@import url('https://fonts.googleapis.com/css?family=Alef');

html{
    font-size: 10px;
}
body{
    font-family: 'Alef', sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    color: #154B8B;
}
ul{
    list-style-type: none;
}
h1{
    color:dimgray;
    font-weight:300;
    font-size: 3rem;
}
p{
    direction: rtl;
}
.header{
color: #234c99;
text-align: center;
height: 64rem;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #dbedf9;

.header__title{
    font-size:7rem;
}
.header__subtitle{
    font-size:2.5rem;
}
}
.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid black;
 
    .main-body__p{
        padding:0.5rem;
        width:50%;
        border: 1px solid red;

    }
}
.nav-bar{
    display: none;
    color: #666666;
}

.header__animations{
    border: 1px solid gold;
    width: 100%;
    .animations__icon{
        border: 1px solid black;

    }
    .animations__tagline{
        border: 1px solid black;
        font-size: 2rem;
    }
    .animations__present{
        height: 8rem;
    }

.animations__counter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 6.3rem;
    border: 1px solid black;
    font-size: 3rem;
    padding: 3rem;
    margin: 3rem;

    .counter__1{
            border: 1px solid black;
    }
     .counter__2{
            border: 1px solid black;
    }
     .counter__3{
            border: 1px solid black;
    }
     .counter__4{
            border: 1px solid black;
    }
    
}
}

.container{
    background: #ccebff;
}
.gallery{
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
   

.gallery__title{
    font-size: 30px;
}

.gallery__photos{
    border: 2px dashed red;
    //background-color: #FBE5B2;
    width: 100%;
    //height: 250px;
    text-align: center;
    padding: 3rem;

    .photos__p{
        padding: 1rem;
        width: 420px;
    }
    }
    .gallery__button{
        width: 15rem;
        height: 4rem;
        border-radius: 5rem;
        background-color: #fff;
        border: 1px solid dodgerblue;
        margin: 20px auto 15px;
    }
}
.form-container {
            margin: 10px auto;
            padding: 16px;
            background: #F7F7F7;
            min-width: 100px;
            padding: 20px;
            background: #ccebff;

h2{
    text-align: center;
}      
form{
    padding:0;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    list-style:none;
    font-size: 1.9rem;

    // .form-title{
    //         padding: 20px 0;
    //         font-size: 3rem;
    //         text-align: center;
    //         color: #000066;
    //        margin: -16px -16px 16px -16px;
    //         }


     input{
                text-align: right;
                box-sizing: border-box;
                width: 100%;
                background: #fff;
                margin-bottom: 4%;
                border: 1px solid #ccc;
                padding: 3%;
                color: #555;
                font: 95% Arial, Helvetica, sans-serif;
            }
            textarea{
               width: 100%;
               height: 100px;
               text-align: right;
                }
                
            .form-btn {
            display: inline-block;
            background: #0000ff;
            padding: 10px 20px;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;

            -moz-box-shadow: inset 0px 1px 0px 0px  #000066;
            -webkit-box-shadow: inset 0px 1px 0px 0px  #000066;
            box-shadow: inset 0px 1px 0px 0px  #000066;
        }  
        .form-btn:hover {
            background: linear-gradient(to bottom #ccccff  5%, #9999ff 100%);
            box-shadow: 4px 4px 6px 0 #e6e6ff;
            background-color: #4d4dff;
        }  

        .field-style{
        box-sizing: border-box; 
        padding: 10px;
        border: 1px solid #B0CFE0;
        -webkit-transition: all 0.50s ease-in-out;
       -moz-transition: all 0.50s ease-in-out;
       -ms-transition: all 0.50s ease-in-out;
    }

    .field-style:focus{
     box-shadow: 0 0 5px #B0CFE0;
     border:1px solid #B0CFE0;
      } 
}
}



//Desktop ONLY
@media only screen and (min-width: 768px) {

    .form-container {
        width: 620px;

        .div1{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;

    .div2{
        margin: 0.8rem;
    }

    .div3{
    margin: 0.8rem;
    }
}
    }

.nav-bar{
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
    font-size: 2rem;

.nav-bar__location{
    background: fuchsia;
        align-self: center;
        padding: 20px;
    }

.nav-bar__menu{
        background: yellow;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 60%;
    justify-content: space-between;
    padding: 10px;
    a{
        color:#666666;
    }
    li{
       // padding: 5px;
    }
    }
}
.animations__clouds{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.2rem;
    border: 1px solid white;
    background: gray;
}
.animations__present{
      height: 12.7rem;
      width: 15.1rem;
      background: white;
}

}


